<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115371507239-u1ajgilsjgmeh7msv0fum9m97ajoth7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115371507239-u1ajgilsjgmeh7msv0fum9m97ajoth7s</string>
	<key>API_KEY</key>
	<string>AIzaSyBHxVsprivSsITu817YYAHTHNtK7NrO-jU</string>
	<key>GCM_SENDER_ID</key>
	<string>115371507239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.softwareLab</string>
	<key>PROJECT_ID</key>
	<string>software-lab-29f37</string>
	<key>STORAGE_BUCKET</key>
	<string>software-lab-29f37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115371507239:ios:7747ef6043e709d8bf1802</string>
</dict>
</plist>